{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Help Desk - Raise Ticket</title>
  <link rel="stylesheet" href="{% static 'forms/ticket_form.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<div class="page-wrapper">

  <!-- 🔹 LEFT SIDE IMAGE -->
  <div class="left-image-box">
    <img src="{% static 'forms/image1.JPG' %}" alt=" Image">
  </div>

<div class="container">

  <!-- 🔹 LOGO INSIDE WHITE BOX (TOP) -->
  <div class="form-logo-box">
    <img src="{% static 'forms/ticket_logo.JPG' %}" alt="Help Desk Logo">
  </div>

  <form method="post">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Full Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="phone" placeholder="Phone No Don't add +91" required>

    <select name="department" required>
      <option value="">Select Department</option>
      <option>Accounts and Finance</option>
      <option>Construction</option>
      <option>CRM HO</option>
      <option>DME</option>
      <option>Electrical and Plumbing</option>
      <option>Engineering Highpark</option>
      <option>Engineering Sampoorna</option>
      <option>Finishing Sampoorna</option>
      <option>HR</option>
      <option>IT and Admin</option>
      <option>Maintenance Sampoorna</option>
      <option>Maintenance Highpark</option>
      <option>Project Planning</option>
      <option>Purchase and Security</option>
      <option>Sales and Marketing</option>
      <option>CRM Sampoorna</option>
      <option>CRM Highpark</option>
      <option>JNRDME</option>
    </select>

    <input type="text" name="issue_type" placeholder="What type of issue?" required>

    <!-- 🔹 PRIORITY RADIO BUTTONS -->
    <div class="priority-box">
      <span class="priority-title">Select Priority</span>

      <div class="priority-options">
        <label class="radio-item">
          <input type="radio" name="priority" value="Urgent" required>
          Urgent
        </label>

        <label class="radio-item">
          <input type="radio" name="priority" value="Normal" required>
          Normal
        </label>
      </div>
    </div>

    <button type="submit">Submit Ticket</button>
  </form>
</div>

<!-- 🔹 SUCCESS POPUP -->
{% if success %}
<div class="popup-overlay" id="successPopup">
  <div class="popup-box">
    <h3>🎉 Ticket Raised Successfully!</h3>
    <p>
      Thank you for contacting the Help Desk.<br><br>
      Your ticket has been created successfully.<br>
      Our support team will review your request and get back to you shortly.
    </p>
  </div>
</div>
{% endif %}

<script>
  {% if success %}
    const popup = document.getElementById("successPopup");
    popup.style.display = "block";

    setTimeout(function() {
      popup.style.display = "none";
    }, 4000);
  {% endif %}
</script>

</body>
</html>
